<div class="main">
<%= render "shared/homeheader" %>
    <div class="main-db">
      <div class="main-db-list">
        <p class="home-title">データベース一覧</p>
        <ul class="language-tag">
          <li><%= link_to 'Ruby', articles_path, class: "home-link-tag" %></li>
          <li><%= link_to 'javascript', "#", class: "home-link-tag" %></li>
          <li><%= link_to 'HTML&CSS', "#", class: "home-link-tag" %></li>
          <li><%= link_to 'WordPress', "#", class: "home-link-tag" %></li>
          <li><%= link_to 'HTTP', "#", class: "home-link-tag" %></li>
          <li><%= link_to 'PHP', "#", class: "home-link-tag" %></li>
          <li><%= link_to 'Python', "#", class: "home-link-tag" %></li>
          <li><%= link_to 'C言語', "#", class: "home-link-tag" %></li>
          <li><%= link_to 'JAVA', "#", class: "home-link-tag" %></li>
          <li><%= link_to 'Minecraftコード一覧', "#", class: "home-link-tag" %></li>
          <li><%= link_to 'フォネティックコード', "#", class: "home-link-tag" %></li>
          <li><%= link_to 'マーケティング', "#", class: "home-link-tag" %></li>
          <li><%= link_to 'その他知識', "#", class: "home-link-tag" %></li>
        </ul>
      </div>
    </div>

<%# ロード画面アニメーション %>
  <div id="js-loader" class="loader">
    <div class="loader-animation"></div>
  </div>

  <%= render "shared/homefooter" %>
</div>
